@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bangers&family=Fredoka+One&family=Oleo+Script+Swash+Caps:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    top: 0;
    font-family: 'Bangers', cursive;
    font-family: 'Fredoka One', cursive;
    font-family: 'Acme', sans-serif;
}
html{
    scroll-behavior: smooth;
}

.upper h1{
    text-align: center;
    padding: 30px;
    color: honeydew;
}
.upper p{
    width: 250px;
    margin: 56px 70px;
    font-size: 23px;
    color: azure;
}
/* .headnav{
    position: sticky;
    top: 0;
} */
.header{
    width: 100%;
    height: 60px;
    /* background-color: #1074cb; */
    display: flex;
}
.mech{
    width: 35%;
    background-color: #1074cb;
}
.mech .mec{
    display: flex;
    margin: 5px -36px;
}
.header h1{
    margin: auto -66px;
    font-size: 41px;
    color: azure;
}
.header h2{
    color: #e5ed64;
    font-size: 16px;
    margin: auto 67px;
}
.header2{
    display: flex;
    width: 65%;
    background-color: #f1f1ac;
}
.time{
    display: flex;
    margin: auto;
    align-items: center;
    margin-right: 34px;
}  
.time img{
    height: 40px;
    margin: 0px 15px;
}
.call{
    display: flex;
    align-items: center;
    margin-right: 50px;
}
.call img{
    height: 48px;
}
#navbar{
    display: flex;
    position: sticky;
    align-items: center;
    height: 50px;
    top: 0;
    background-color: #12121261;
}
ul{
    display: flex;
    list-style: none;
}
li{
    padding: 23px;
}
a{
    text-decoration: none;
    color: aliceblue;
}
a:hover{
    color: rgb(61 186 245);
    text-shadow: 3px 2px black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
}

#logo img{
    height: 36px;
    width: 84px;
    margin: 0px 12px;
    border-radius: 20px;

}


.slider {
    text-align: center;  
    height: 560px;
}

.slider img {
    height: 100%;
    width: 100%;
}


.middle{
    height: 430px;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 50px;
    background: url('https://bikeindia.in/wp-content/uploads/2020/06/2021-latest-Triumph-bonneville-T120-Black-launch-price-bike-india-1.jpg') no-repeat center center/cover;
    background-attachment: fixed;
}

.middle h1{
    /* text-align: center; */
    margin: 45px 384px;
    font-size: 36px;
    /* display: inline-block; */
    color: white;
    text-shadow: 0px 0px 10px blue,
                 0px 0px 20px blue,
                 0px 0px 40px blue,
                 0px 0px 60px blue;
    border-bottom: 2px solid wheat;
}
.box{
    display: flex;
    width: 90%;
    margin: auto;
}
.boxs{
   /* text-align: center;  */
   border: 2px solid black;
   margin: 17px 20px;
   width: 30%;
   border-radius: 20px;
   background: #bbb9b4;
   box-shadow: 8px 8px 8px lightslategrey;

}
.boxs i{
    color: lightcyan;
    margin: 12px;
    text-shadow: 7px 9px 4px black;
}
.boxs h3{    
    font-size: 23px;
    margin: 12px;
}
.boxs p{
    font-size: 20px;
    margin-bottom: 12px;
}


.wework{
    height: 400px;
    display: inline-block;
    width: 100%;
    margin-top: 45px;
    text-align: center;
    background: url('https://wallpaperaccess.com/full/5253673.jpg') no-repeat center center/cover;
    background-attachment: fixed;
}

.wework h1{
    margin: 45px 0px;
    color: #1074cb;
}
.we{
    display: flex;
    margin: 40px;
}
.we .how{
    /* border: 1px solid black; */
    margin: 0px 5px;
}
.we .how img{
    height: 90px;
    margin: 5px;
}
.we .how h2{
    margin: 10px;
    color: aliceblue;
}
.we .how p{
    padding: 0px 35px;
    color: aliceblue;
}
.btn1{
    padding: 0px 16px;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
    background-color: #424242;
    color: white;
    border-radius: 7px;
}
.btn1:hover{
    background: whitesmoke;
    color: purple;
    box-shadow: 0px 0px 10px blue,
                0px 0px 20px blue,
                0px 0px 30px blue;
    border: none;    
    transition: 0.5s;
    letter-spacing: 1px;
    font-size: 18px;           
}


.brands{
    height: 280px;
    display: inline-block;
    width: 100%;
    background: url('https://www.bikefixo.com/img/front/brands-service.jpg') no-repeat center center/cover;
    margin-top: 50px;
    text-align: center;
    background-attachment: fixed;
}

.cycle i{
    margin-top: -26px;
    color: ghostwhite;
}
.brands h1{
    margin: 34px;
    color: white;
    text-shadow: 0px 0px 12px blue,
                 0px 0px 24px blue,
                 0px 0px 48px blue,
                 0px 0px 72px blue,
                 0px 0px 96px blue;
}
.brands .logo{
    margin: 60px 55px;
}
.brands .logo img{
    height: 60px;
    /* margin: 45px auto; */
}

footer{
    background: black;
    color: rgb(233, 154, 8);
    opacity: .5;
    height: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

