@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bangers&family=Fredoka+One&family=Oleo+Script+Swash+Caps:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    top: 0;
    font-family: 'Bangers', cursive;
    font-family: 'Fredoka One', cursive;
    font-family: 'Acme', sans-serif;

}
html{
    scroll-behavior: smooth;
}


.upper h1{
    text-align: center;
    padding: 30px;
    color: honeydew;
}
.upper p{
    width: 250px;
    margin: 56px 70px;
    font-size: 23px;
    color: azure;
}
/* .headnav{
    position: sticky;
    top: 0;
} */
.header{
    width: 100%;
    height: 60px;
    /* background-color: #1074cb; */
    display: flex;
}
.mech{
    width: 35%;
    background-color: #1074cb;
}
.mech .mec{
    display: flex;
    margin: 5px -36px;
}
.header h1{
    margin: auto -66px;
    font-size: 41px;
    color: azure;
}
.header h2{
    color: #e5ed64;
    font-size: 16px;
    margin: auto 67px;
}
.header2{
    display: flex;
    width: 65%;
    background-color: #f1f1ac;
}
.time{
    display: flex;
    margin: auto;
    align-items: center;
    margin-right: 34px;
}  
.time img{
    height: 40px;
    margin: 0px 15px;
}
.call{
    display: flex;
    align-items: center;
    margin-right: 50px;
}
.call img{
    height: 48px;
}
#navbar{
    display: flex;
    position: sticky;
    align-items: center;
    height: 50px;
    top: 0;
    background-color: #12121261;
}
ul{
    display: flex;
    list-style: none;
}
li{
    padding: 23px;
}
a{
    text-decoration: none;
    color: aliceblue;
}
a:hover{
    color: rgb(61 186 245);
    text-shadow: 3px 2px black;
    font-weight: bold;
    font-size: 18px;
}

#logo img{
    height: 36px;
    width: 84px;
    margin: 0px 12px;
    border-radius: 20px;

}


/* ABOUT SECTION  */

.the{
    text-align: center;
}
.the #p0{
    margin: 23px 0px;
}

.container1 #top{
    color: #1074cb;
    margin: 34px 0px;
    font-size: 48px;
}

.professional{
     display: flex;
     margin-top: -25px;
}

.pro1 img{
    width: 444px;
    margin: 43px 57px
}
.write{
    margin: 82px 38px;
    /* text-align: center; */
    width: 422px;
}

.write h3{
    margin: 12px 0px;
}


.container2{
    display: flex;
}

.door img{
    width: 444px;
    margin: 43px 57px
}
.write1{
    margin: 82px 60px;
    text-align: center;
    width: 422px;
}
.write1 h3{
    margin: 12px 0px;
}




/* SERVICES SECTION  */

#container3{
    height: 700px;
}
.head{
    text-align: center;
    height: 500px;
    margin: 0px 281px;
    width: 754px;
}

.head h1{
    margin: 35px;
}
.head h3{
    margin: 12px;
}
.right #list{
    display: block;
}
#list li{
    padding: 12px;
}
#container3::before{
    background: url('https://wallpaperaccess.com/full/1433024.jpg') no-repeat center center/cover;
    content: "";
    position: absolute;
    height: 796px;
    width: 100%;
    opacity: .5;
    top: 50px;
    z-index: -7;
    /* background-attachment: fixed; */
}
.bottom{
    display: flex;
    text-align: center;
    flex-direction: column;
}
.content{
    background-color: whitesmoke;
    height: 100px;
    width: 125px;
    margin: -115px 43px;
}
.content img{
    height: 55px;
    margin: 9px 0px;
}
.content1{
    display: flex;
    margin: 0px 184px;
    text-align: center;
}
.cont{
    background-color: whitesmoke;
    height: 100px;
    width: 125px;
    margin: -115px 15px;
}
.cont img{
    height: 55px;
    margin: 9px 0px;
}
#we h2{
    margin: 45px;
    text-align: center;
}
.brnds{
    display: flex;
    justify-content: center;
    margin: 9px;
}
#brand{
    margin: 15px;
}
#brand img{
    height: 60px;
}


/* CONTACT US section */

.formgroup{
    background: url('../4.1bg.jpg') no-repeat center center/cover;
    display: inline-block;
    width: 100%;
    height: 650px;
}

.formgroup h1{
    margin: 65px 115px;
    padding-bottom: 22px;
}
.myform{
    /* border: 2px solid black; */
    width: 325px;
    margin: -61px 90px
}
.myform h1{
    /* border: 2px solid red; */
    width: 170px;
    margin: 0px 28px;
    padding: 18px 0px;
    margin-top: 54px;
    padding-top: 78px;
}
.myform input{
    /* display: block; */
    margin: 11px;
    padding: 4px 14px;
    width: 300px;
    border-radius: 5px;
}
.myform textarea{
    width: 300px;
    margin:11px 12px;
    border-radius: 5px;
    padding: 3px 13px;
    
}
.btn{
    margin: 21px 200px;
    padding: 2px 28px;
    width: 110px;
    cursor: pointer;
    border-radius: 5px;
    opacity: .7;
}
.btn:hover{
    background: none;
    font-weight: bold;
    color: white;

}
.form{
    display: flex;
    align-items: center;
}

.myinput{
    opacity: .8;
    border: none;   
}
.myinput:hover{
    
    background: none;
    border-bottom: 2px solid black;
    font-weight: bold;
}






footer{
    background: black;
    color: rgb(233, 154, 8);
    opacity: .5;
    height: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
